# Neon DB connection
# Example: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_OZ8zSvtYW1LI@ep-twilight-mud-a9k7jtjp-pooler.gwc.azure.neon.tech/neondb?sslmode=require&channel_binding=require

#hello thre 
