# Neon DB connection
# Example: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_Yjspg9nVIvr4@ep-damp-cherry-a1hicorb-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
